body {
  background: blanchedalmond;
}

/* {
  border: 1px solid red;
  
}*/

.container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  min-height: 100vh;
  
  
}

.a {
    background-color: black;
    height: 25vh;
    width: 100%;
    color: white;
    text-align: center;
    margin: 10px;
    
    
}

.b{
  background-color: blue;
  height: 50vh;
  width: 100%;
  color: white;
  text-align: center;
  margin: 10px;
  
}

.c{
  background-color: pink;
  height: 25vh;
  width: 100%;
  color: white;
  text-align: center;
  margin: 10px;
  
}

@media (min-width: 600px){
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
  
  .a {
    max-width: 100%;
    min-height: 30vh;
    
    
  }
  .b {
    max-width: 70.3%;
    height: 60vh;
    
  }
.c {
    max-width: 27%;
    min-height: 60vh;
  }
